<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
 integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
 crossorigin="anonymous"></script>
</head>
<body>
	<script>
	$(function(){
		$('#send').click((event)=>{
			// 아이디,이름 값을 받아 /api/adduser 에 보내겠다 
			const userid=$('#userid').val();
			const name=$('#username').val();
			const path='/api/adduser';
			const json = JSON.stringify({
				userid:userid,
				name:name
			});
			$.ajax({
				url:path,
				type:'POST',
				contentType: 'application/json',
				data:json
			}).done((result)=>{
				console.log(result.userid);
				$('#result').text(result.userid);
			});
		});	
	});
</script>
	<input id="userid" type="text" placeholder="아이디">
	<input id="username" type="text" placeholder="이름">
	<button id="send">저장</button>
	
	<!-- text(result.userid) 값을 받아 출력 = userid 입력한 값 -->
	<p id="result"></p>
</body>
</html>